@import "../../../assets/style/index.scss";

.bodys {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  .scrolls {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .gyFbslog {
      width: 100%;
      height: 698.5px;
      background: url("../../../assets/image/center/gyFbslog.jpg");
      background-repeat: repeat-y;
      background-size: 100% 100%;
      position: relative;
      .imgs {
        width: 74px;
        height: 74px;
        position: absolute;
        top: 121.5px; //45+76.5
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
