@import './public.scss';

.rank-list-box {
    width: 300px;
    height: 433px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 3;
    position: relative;
    background: #161722;

    .title {
        text-align: center;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.85);
        line-height: 16px;
        line-height: 24px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .content {
        padding: 10px 10px 10px 10px;

        &-tabs {
            display: flex;
            justify-content: flex-start;
            border-radius: 2px;
            width: 100%;
            margin-bottom: 10px;

            .tab {
                background: #22232d;
                flex: 1;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.5);
                line-height: 28px;
                text-align: center;

                &:first-child {
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }

                &:last-child {
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                &.active,
                &:hover {
                    background: #393942;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }

        .top-rank {
            width: 100%;
            height: 325px;
            overflow-y: hidden;

            &:hover {
                overflow-y: auto;
            }

            .rank-user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #fff;
                font-size: 12px;
                padding: 5px 0;
                margin-bottom: 6px;

                .index {
                    width: 18px;
                    height: 18px;
                    margin-right: 10px;
                }

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 10px;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    height: 40px;

                    .nickname,
                    .rankValue {
                        font-size: 14px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: rgba(255, 255, 255, 0.88);
                        line-height: 14px;
                    }

                    .icon-live-love {
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                    }

                    .rankValue {
                        .icon {
                            margin-right: 5px;
                        }

                        display: flex;
                        align-items: center;
                    }
                }

                .follow {
                    margin-left: auto;
                    line-height: 12px;
                    font-size: 12px;
                    padding: 4px 10px;
                    border-radius: 4px;
                    min-width: 90px;
                    &.guanzhu {
                        color: rgba(0, 0, 0, 0.88);
                        background: #FFFFFF;
                    }

                    &.yiguanzhu {
                        color: rgba(255, 255, 255, 0.88);
                        background: #26283C;
                    }
                }
            }
        }
    }
}