.result-container {
    &-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-bottom: 8px;

        .tabs {
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.45);
            line-height: 16px;
            display: flex;

            &:nth-child(2) {
                margin-left: 32px;
            }

            &.active {
                color: rgba(255, 255, 255, 0.85);
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 2px;
                    background: #FFFFFF;
                    border-radius: 1px;
                    left: 50%;
                    bottom: -8px;
                    transform: translateX(-50%);
                }
            }
        }
    }

    &-close {
        position: absolute;
        right: 0;
        top: 0px;
        cursor: pointer;
    }

    &-goback {
        position: absolute;
        left: 25px;
        top: 30px;
        cursor: pointer;
    }

    &-alert {
        border-radius: 8px;
        z-index: 3;
        width: 420px;
        position: absolute;
        left: 0;
        bottom: 100px;
        background: url('../../../../assets/images/liveDetail/result/bg.png') no-repeat;
        background-size: 100% 100%;
        padding: 22px 12px;

        .record-name {
            margin-bottom: 20px;
            text-align: left;
            font-weight: 600;
            color: #ffffff;
            font-size: 16px;
        }

        .all-history-box2 {
            padding: 10;
            overflow-y: auto;
            min-height: 200px;

            img {
                margin-top: 10px;
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }

            .text-icon {
                margin-top: 10px;
                margin-right: 10px;
                min-width: 30px;
                padding: 0 2px;
                display: table;
                height: 30px;
                border-radius: 4px;
                line-height: 30px;
                background-color: #fff;
                color: #02bc42;
                text-align: center;

                &.lhc {
                    &:last-child {
                        position: relative;
                        margin-left: 10px;

                        &::before {
                            content: "+";
                            left: -14px;
                            position: absolute;
                        }
                    }
                }
            }

            &-item {
                text-align: left;
                color: rgba(255, 255, 255, 0.88);
                padding: 10px 8px;
                min-height: 84px;
                margin-bottom: 8px;
                background: #4e4f57;
                border-radius: 4px;
                overflow-x: auto;
                width: 100%;
            }
        }



        &-header {
            width: 100%;
            position: relative;
            padding: 6px 0 16px;
            border-bottom: 1px solid rgb(255, 255, 255, .1);

            .back-icon {
                position: absolute;
                left: 0px;
                top: 8px;
                cursor: pointer;
            }

            .lottery-name {
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.85);
                line-height: 16px;
                width: 100%;
                font-size: 16px;
                color: #fff;
            }
        }

        &-list {
            color: #fff;

            div {
                padding: 0 px;
                height: 45px;
                line-height: 45px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);

                .value {
                    color: #fff;

                    img {
                        margin-top: 7.5px;
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                    }

                    .icon {
                        margin-top: 7.5px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        margin-left: 5px;
                        font-size: 16px;
                        text-align: center;
                        color: #fff;
                        border-radius: 4px;
                        font-weight: 600;
                        background: #ff9090;
                    }
                }

                border-bottom: 1px solid rgba(255, 255, 255, 0.03);
            }
        }
    }
}

.result-item {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 10px 8px;
    min-height: 84px;
    margin-bottom: 8px;
    background: #4e4f57;
    border-radius: 4px;
    overflow-x: auto;
    width: 100%;

    .game-icon {
        width: 40px;
        height: 40px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .result-icon {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
    }

    .item {
        margin-right: 5px;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        color: #fff;
        background-color: #fd909b;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 0 5px;

        &.lhc {
            &:last-child {
                position: relative;
                margin-left: 10px;

                &::before {
                    content: "+";
                    left: -12px;
                    position: absolute;
                }
            }
        }
    }

    .nickName,
    .timer {
        padding-top: 4px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.88);
    }


    .xjt-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .b-t-i {
        margin-top: 14px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;

        .value {
            margin-left: 10px;
            font-weight: 600;
            color: #02bc42;
            font-size: 20px;
        }
    }


    .right {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .result-img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }
}

.betting-item {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 10px 8px;
    min-height: 84px;
    margin-bottom: 8px;
    background: #4e4f57;
    border-radius: 4px;
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .game-icon {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }

    .betting-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .right {
        margin-left: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .result-img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
    }


    &:last-child {
        margin-bottom: 0;
    }

    .result-icon {
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
    }

    .item {
        margin-right: 5px;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        color: #fff;
        background-color: #fd909b;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding: 0 5px;

        &.lhc {
            &:last-child {
                position: relative;
                margin-left: 10px;

                &::before {
                    content: "+";
                    left: -12px;
                    position: absolute;
                }
            }
        }
    }

    .nickName,
    .timer {
        padding-top: 4px;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.88);
    }


    .xjt-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .b-t-i {
        margin-top: 14px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;

        .value {
            margin-left: 10px;
            font-weight: 600;
            color: #02bc42;
            font-size: 20px;
        }
    }



}

.betting-detail-container {
    border-radius: 8px;
    position: absolute;
    z-index: 3;
    color: #fff;
    position: relative;
    z-index: 2;

    .game-icon {
        width: 70px;
        height: 70px;
        margin: 12px auto 10px;
    }

    .nickName {
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.88);
        line-height: 14px;
        margin-bottom: 8px;
    }

    .expect {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.45);
        line-height: 12px;
        margin-bottom: 20px;
    }

    .result-img {
        width: 60px;
        height: 60px;
        display: inline-block;
        position: absolute;
        top: 116px;
        right: 40px;
        z-index: 1;
    }

    .flex {
        padding: 0 px;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.45);
        padding: 0 8px;
        background: #4e4f57;

        .result {
            max-width: 70%;
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
        }

        .value {
            color: rgba(255, 255, 255, 0.88);

            img {
                margin-top: 7.5px;
                width: 30px;
                height: 30px;
                margin-left: 10px;
            }


            .iconNum {
                margin-top: 7.5px;
                height: 24px;
                line-height: 24px;
                margin-left: 5px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                border-radius: 4px;
                font-weight: 600;
                background: #FF9090;
                border-radius: 4px;
                padding: 0 5px;

                &.lhc {
                    &:last-child {
                        position: relative;
                        margin-left: 10px;

                        &::before {
                            content: '+';
                            position: absolute;
                            left: -10px;
                        }
                    }
                }
            }
        }

        border-bottom: 1px solid rgba(255, 255, 255, .03);
    }
}