.formBody {
  padding: 25% 40px 0 40px;
  position: relative;
  min-height: 100vh;
  background-size: contain;
  box-sizing: border-box;

  .headImg {
    position: relative;

    .logo {
      width: 58px;
      height: 58px;
    }
  }

  &::after {
    width: 100%;
    height: 100vh;
    content: "";
    display: block;
    background: #f9f9f9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  // .bg {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100vh;
  //     background: url("../../assets/image/login/bg.jpg") no-repeat;
  //     background-size: 100%;
  //     z-index: -1;
  //     background-color: #e0e0e0;
  //     background-position: bottom;
  // }

  .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 37px;
  }

  .title {
    font-size: 24px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .nextBtn1 {
    background: #ff839b;
    margin-top: 38px;
    height: 42px;
    border-radius: 5px;
    border: none;
  }

  .formSex {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;

    img {
      width: 60px;
      height: 60px;

      &:first-child {
        margin-right: 50px;
      }
    }
  }

  .tips {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    background: #fdecf2;
    border-radius: 5px;
    font-weight: 400;
    color: #4867ac;
  }
}

.stepInput {
  // border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  // line-height: 40px;
  // height: 40px;
  width: 100%;
  padding: 0 12px;

  height: 42px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ffffff;
  margin-top: 12px;

  input {
    color: #333;
  }
}

.inputGroup {
  // display: flex;
  // align-items: center;
  margin-bottom: 20px;
  position: relative;

  .stepInput {
    margin-bottom: 0px;
    flex-grow: 1;
  }
}

.adm-form-item-label {
  white-space: nowrap;
}

.formBody2 {
  @extend .formBody;
  padding-top: 25%;

  &::after {
    width: 100%;
    height: 100vh;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../../assets/image/login/bg.jpg") no-repeat;
    background-size: 100%;
    z-index: -1;
    background-color: #e0e0e0;
    background-position: bottom;
  }
}

.tipsText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  line-height: 14px;

  span {
    margin-top: 10px;
    color: #4867ac;
  }
}

.Verify {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  // color: #4867ac;

  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #5e29e0;
  line-height: 14px;
  border: none;
}

.label {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
}
