.btn {
    height: 30px;
    font-size: 12px !important;
    background: transparent;
    border: 0;
    color: #FF5E86;
}

.noBtn {
    background: transparent;
    color: #333;
    border: 0;
    line-height: 1;
    padding: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.jqColor {
    color: #ff839b;
}
