.wbg {
    background: #fff;
    height: 45px;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
}
.leftImg{
    width: 22px;
    height: 22px;
}
.title {
    font-size: 18px;
    color: '#1e1b27';
    font-weight: 500;
}